:root {
	body {
		margin: 0;

		#app {
			width: 100vw;
			height: 100vh;
		}

		#nprogress .bar {
			background: linear-gradient(to left, var(--td-brand-color), transparent);
		}
	}
}

img,
svg {
	vertical-align: middle;
	-webkit-user-drag: none;
}

.t-image-viewer img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

.t-table--layout-fixed {
	border-collapse: separate;
}
